<template>
  <div>
  <forum-navbar></forum-navbar>
  <forum-invitation class="content"></forum-invitation>
  </div>
</template>

<script>
    export default {
        name: "acceptInvatation"
    }
</script>

<style scoped>

</style>
