<template>
  <img :src="loadImage('avatar')">
</template>

<script>
import axios from 'axios';

/**
 * Component to asyncron image loading from the server
 */
export default {  
  data() {
    return {
      image: '',
      toggle: false
    }
  },
  props: {
    name: {
      type: String,
      required: true
    }
  },
  created() {
    // searches for the specific image and gets its url
    axios.get(`${process.env.ROOT_API}/images?search=${this.name}`)
      .then(response => response.data)
      .then(response => this.$set(this, 'image', `${process.env.ROOT_API}${response.image.url}`));
  },
  methods: {
    // loads the image into the img tag
    loadImage: function() {
      return this.image
    }
  }
}
</script>
