<template>
  <div>
    <forum-navbar></forum-navbar>
    <div class="content">
      <h1 class="text-white">Chatverlauf</h1>
      <span class="text-light" v-if="isLoading">Laden...</span>
      <div class="list-group">
        <a class="list-group-item list-group-item-action pointer" v-for="user in knownChats" v-bind:key="user" v-on:click="goto(user)">{{user}}</a>
      </div>
      <h3 class="text-white mt-5">Neuen Chat anlegen</h3>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Benutzername</span>
        </div>
        <input type="text" class="form-control" v-model="newChatName">
        <div class="input-group-append">
          <button class="btn btn-success" type="submit" v-on:click='startChat()' :disabled="!newChatName">Anlegen</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .pointer {
    cursor: pointer;
  }
</style>

<script>
import axios from 'axios';

export default {
  data: function() {
    return {
      knownChats: [],
      newChatName: null,
      isLoading: false
    }
  },
  created: function() {
    this.isLoading = true;
    // loads all known chats
    axios.get(`${process.env.ROOT_API}/chat/known-chats`)
      .then(response => response.data)
      .then(data => this.knownChats = data)
      .then(() => this.isLoading = false);
  },
  methods: {
    // starts a new chat
    startChat: function() {
      this.goto(this.newChatName);
    },
    goto: function(user) {
      // navigates to the private chat
      this.$router.push({
        name: 'chat.private',
        params: {
          user
        }
      });
    }
  }
}
</script>