<template>
    <form>
      <div class="m-5">
        <div class="container">
          <div class="card bg-white shadow-lg">
            <div class="card-header">
              Login
            </div>
            <div class="card-body">
              <div class="alert alert-info">Bitte loggen Sie sich ein, um fortzufahren.</div>
              <div class="row">
                <div class="col-md-8">
                  <div class="alert alert-warning" v-if="failed">
                    <strong>Fehler:</strong> Benutzerdaten stimmen nicht miteinander überein</div>
                  <div class="form-group">
                    <label>Benutzername</label>
                    <input type="text" class="form-control" v-model="username">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="password">
                  </div>
                  <div class="mt-2">
                    <router-link to="/forum/register">Jetzt registrieren</router-link>
                  </div>
                  <button type="button" class="btn btn-outline-primary" v-on:click="login()">Einloggen</button>
                </div>
                <div class="col-md-2">
                  <async-image name="gandalph" width=300></async-image>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
</template>

<script>
import authService from "../services/AuthService";

export default {
  data() {
    return {
      username: null,
      password: null,
      failed: false
    };
  },
  methods: {
    // tries to login the user
    login() {
      authService.login(this.username, this.password).then(() => {
        this.redirect();
      }).catch(() => {
        this.failed = true;
      });
    },
    // redirects the user to the last page
    redirect() {
      if(window.history.length > 1) {
        this.$router.go(-1); 
      } else {
        this.router.push('/forum');
      }
    }
  }
};
</script>