<template>
  <div id="app" data-spy="scroll" data-target=".navbar" data-offset="50">
    <home-intro></home-intro>
    <home-navbar></home-navbar>
    <home-content></home-content>
  </div>
</template>
