<template>
  <div>
    <!--<forum-navbar></forum-navbar>-->
    <div class="content">
      <h1 class="text-white">Registrierung</h1>
      <div class="alert alert-secondary" v-if="!success">
        Vielen Dank für dein Interesse an einer Registrierung. Trage hier deine Benutzerdaten ein, um einen Gandalph Community Account zu erstellen.
      </div>
      <div class="card bg-success text-white mb-2" v-if="success">
        <div class="card-header">Registrierung erfolgreich!</div>
        <div class="card-body">
          Dein Benutzerkonto wurde erfolgreich erstellt! Du erhältst in kürze eine E-Mail mit einem Bestätigungslink. Anschließend kannst Du dein Gandalph 
          Konto verwenden. 
        </div> 
      </div>
      <div class="card" v-if="!success">
        <div class="card-header">Benutzerdaten</div>
        <div class="card-body">
          <div class="alert alert-danger" v-if="error">Beim Registrieren ist ein Fehler aufgetreten! Möglicherweise wurde die E-Mail Adresse oder der Benutzername bereits 
            für ein Benutzerkonto verwendet. Bitte versuchen Sie es erneut!</div>
          <form>
            <div class="form-group">
              <label>Benutzername</label>
              <input type="text" class="form-control" v-model="username">
            </div>
            
            <div class="form-group">
              <label>E-Mail Adresse</label>
              <input type="mail" class="form-control" v-model="email">
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" v-model="password">
            </div>

            <div class="alert alert-warning" v-if="password != passwordRpt && passwordRpt">
              <strong>Warnung</strong>: Die Passwörter stimmen nicht miteinander überein.
            </div>
            <div class="form-group">
              <label>Password wiederholen</label>
              <input type="password" class="form-control" v-model="passwordRpt">
            </div>

            <p><small class="text-dark">Mit der Registrierung stimmst Du der Verarbeitung der eingegebenen Daten zu.</small></p>
            <button class="btn btn-outline-success" type="button" :disabled="!checkValidation()" v-on:click="register()">
              <span v-if="!isCreating">Account erstellen</span>
              <span v-if="isCreating">Wird erstellt...</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data: function() {
    return {
      username: null,
      password: null,
      email: null,
      passwordRpt: null,
      isCreating: false,
      success: false,
      error: false
    }
  },
  methods: {
    checkValidation: function() {
      return this.username && this.password && this.email;
    },
    register: function() {
      // registers a new user
      axios.post(`${process.env.ROOT_API}/auth/local/register`, {
          username: this.username,
          password: this.password,
          email: this.email
        })
        .then(() => {
          this.success = true;
        })
        .catch(() => {
          this.error = true;
        });
    }
  }
}

</script>