<template>
  <span class="badge badge-success">{{newMessages}}</span>
</template>

<script>
import axios from 'axios';

export default {
  data: function() {
    return {
      newMessages: null
    };
  },
  created: function() {
    // checks if there are new messages
    axios.get(`${process.env.ROOT_API}/chat/new-messages`)
      .then(response => response.data)
      .then((response) => {
        this.newMessages = null;
        if (response.count > 0) {
          this.newMessages = response.count;
        }
      });
  }
}
</script>