<template>
  <div class="chat chat-window border-secondary" v-if="authenticated()">
    <div class="p-1">
      <div class="text-right m-1">
        <button class="btn btn-outline-dark" v-on:click="displayOverview()"> Zur Übersicht zurückkehren</button>
      </div>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">An</span>
        </div>
        <input type="text" class="form-control" v-model="to" disabled>
      </div>
      <div ref="history" class="chat-history border border-light bg-dark p-3">
        <button class="btn btn-outline-info w-100 mb-2" v-on:click="loadMore()" v-if="hasMore">Lade frühere Nachrichten</button>
        <div class="col-md-9 p-0 shadow-sm" v-for="msg in messages" v-bind:class="{ 'offset-md-3 text-right': msg.isSelf }" v-bind:key="msg.id">
          <div class="card mb-2" v-bind:class="{ 'text-white bg-primary': msg.isSelf, 'bg-light': !msg.isSelf }">
            <div class="card-body">
              {{msg.msg}}
            </div>
            <div class="card-footer">
              <small>{{msg.isSelf ? 'Du' : msg.from}} - {{msg.date}}</small>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nachricht</span>
          </div>
          <input type="text" class="form-control" v-model="msg" v-on:keyup.enter="send()">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" v-on:click='send()' v-bind:disabled="!msg">Senden</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.chat-history {
  height: 550px;
  overflow: auto;
  border-radius: 2px;
}

.chat-window {
  max-width: 1000px;
  margin: auto auto;
  background: #fff;
}
</style>

<script>
import authService from "../../services/AuthService";
import axios from "axios";

const RESCROLL_TIMEOUT = 100;

export default {
  data: function() {
    return {
      /** Will contain all messages */
      messages: [],
      /*** The message to be send */
      msg: null,
      /** The reciever of the message */
      to: null,
      /** Indicates if there are still messages to be fetched */
      hasMore: true
    };
  },
  methods: {
    /**
     * Checks if the current user is authenticated
     */
    authenticated() {
      return authService.isAuthenticated();
    },
    displayOverview() {
      this.$router.push({ name: 'chatlist' });
    },
    /**
     * Sends the message via WebSockets to chat server
     */
    send: function() {
      // We wont do anything if there is no message entered
      if (!this.msg) {
        return;
      }
      this.ws.send(
        JSON.stringify({
          action: "PRV_MSG",
          data: {
            to: this.to,
            msg: this.msg
          }
        })
      );
      this.msg = "";
    },
    scrollDown() {
      setTimeout(() => {
        this.$refs.history.scrollTop = this.$refs.history.scrollHeight;
      }, RESCROLL_TIMEOUT);
    },
    loadMore() {
      let heightBefore = this.$refs.history.scrollHeight;
      axios
        .get(`/chat/history/${this.to}`, {
          params: {
            before: this.messages.length !== 0 ? this.messages[0].date : null
          }
        })
        .then(payload => payload.data)
        .then(data => {
          this.hasMore = data.length !== 0 && data.length === 10;
          this.messages = [...data.reverse(), ...this.messages];
          setTimeout(() => {
            this.$refs.history.scrollTop = this.$refs.history.scrollHeight - heightBefore;
          }, RESCROLL_TIMEOUT);
        });
    }
  },
  destroyed: function() {
    try {
      // Closing websocket connection after leaving the component
      this.ws.close();
    } catch (e) {
      console.warn("[PrivateChat] Could not close websocket connection!");
    }
  },

  created: function() {
    this.to = this.$route.params.user;
    this.ws = new WebSocket(`ws://${window.location.host}:8080`);

    axios
      .get(`/chat/history/${this.to}`)
      .then(payload => payload.data)
      .then(data => {
        this.messages = [...this.messages, ...data.reverse() ];
        this.scrollDown();
        this.hasMore = data.length === 10;
      });

    this.ws.onopen = () => {
      this.ws.send(
        JSON.stringify({
          action: "AUTH",
          data: {
            token: authService.getToken()
          }
        })
      );
    };

    this.ws.onmessage = wsMessage => {
      let payload = JSON.parse(wsMessage.data);
      switch (payload.action.toUpperCase()) {
        case "PRV_MSG":
          if (payload.msg.from === this.to || payload.msg.isSelf) {
            payload.date = new Date(payload.date).toLocaleTimeString();
            this.messages.push(payload.msg);
            this.scrollDown();
          }
          this.ws.send(JSON.stringify({
            action: 'MSG_ACK',
            data: {
              id: payload.msg.id
            }
          }));
          break;
        case "MSG_ACK":
          this.messages.push.push(payload.msg.id);
          break;
        case "AUTH_FAILED":
          this.$router.path({ name: "Login" });
          break;
      }
    };
  }
};
</script>