<template>
  <router-view class="view"></router-view>
</template>

<style lang="scss">
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    height:100%;
    position: relative;
    background-color: rgb(135, 135, 135);
    overflow-x: hidden;
  }
  dl, ol, ul {
      margin-top: 0;
      margin-bottom: 1rem;
  }
  ul, menu, dir {
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
  }
  table{
    width: 100%;
  }
  table td{
    word-break: break-all;
    word-wrap: break-word;
  }
  .smaller {
    font-size: 0.7rem;
  }
  .o-hidden {
    overflow: hidden !important;
  }
  .z-0 {
    z-index: 0;
  }
  .z-1 {
    z-index: 1;
  }
  .info-msg{
    color: rgba(127,0,0,0.7);
  }
  .medium{
    width: 40%;
  }
  .small{
    width: 15%;
  }
  .large{
    width: 50%;
  }
  .actionImg{
    width: 10px;
    height: 10px;
  }
  #wrapper{
    background-color: #343a40!important;
  }
  .content {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(53, 53, 53);
    box-shadow: 0px 0px 120px #000000;
    padding: 50px;
  }
  body.sticky-footer .content-wrapper {
      min-height: calc(100vh - 56px - 56px);
  }
  @media (min-width: 992px){
    .content-wrapper {
        margin-left: 180px;
    }
  }
  .content-wrapper {
      overflow-x: hidden;
      background: white;
      min-height: calc(100vh - 56px);
      padding-top: 1rem;
      padding-bottom: 2em;
  }
  .container-fluid {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  .content-block{
    width: 100%;
    height: 90%;
    margin-top: 2em;
    -webkit-box-shadow: 2px 4px 22px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 4px 22px -5px rgba(0,0,0,0.6);
    box-shadow: 2px 4px 22px -5px rgba(0,0,0,0.6);
  }
  .content-header{
    padding: .3rem .9rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
  }
  .content-inner{
    padding: .3rem .9rem;
  }
  .addBtn{
    padding: 0.4em;
    color: rgba(255,255,255,.7);
    float: right;
    background-color: #232930;
    text-align: center;
  }
  .addBtn:hover{
    color: rgba(255, 255, 255, 0.5);
  }
  .addEntryBtn{
    float: right;
  }
  .action{
    display: inline-block;
    margin-right: .8em;
    float: right;
  }
  @keyframes slide {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  @keyframes backdropFade {
    from {
      background: rgba(0, 0, 0, 0);
    }
  }
</style>