<template>
  <b-container id="aboutUs" fluid>
    <h1>Über uns</h1>
    <div class="row">
      <div class="col-sm-7">
        <p>
          Hier soll später ein Text stehen, der über Gandalph erzählt. Es könnte über die Entstehungsgeschichte und die
          Philosophie des Ladens geschrieben werden. Aber auch über andere Dinge. Erläuterungswert wäre auch wie es zu
          dem Namen "Gandalph" kam. Ich weiß leider nicht mehr was man noch schreiben könnte, aber ich schreibe ein wenig
          weiter, damit etwas Text als Platzhalter generiert wird. Durch den noch nicht sinnvollen Text kann man sich
          vorstellen wie es aussieht, wenn hier etwas mehr Text steht.
        </p>
      </div>
      <div class="col-sm-5">
        <async-image name="gandalph" id="aboutUsImg"></async-image>
      </div>
    </div>
  </b-container>
</template>

<style scoped>
#aboutUs {
  margin-top: -25px;
  padding-top: 75px;
  color: #fff;
}

.row {
  padding-top: 50px;
}

#aboutUsImg {
    width: 100%;
  background-color: white;
  border-radius: 50%;
}
</style>
