<template>
  <b-container id="imprint" fluid>
    <h3>Impressum</h3>
    <p>Große Str. 39-41
      <br> 24937 Flensburg
      <br>
      <br> Telefon: +49 461 25 55 0
      <br> E-Mail: GandalphFL (at) t-online.de
      <br> Internet*: www.gandalph.de
      <br> Vertretungsberechtigte Gesellschafter**:
      <br> Andree Petersen und Ralf Petersen
      <br>
      <br> Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE168264605
      <br>
      <br> Inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDStV: Andree Petersen (Anschrift wie oben) ****
      <br>
      <br> Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer
      Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
  </b-container>
</template>

<style lang="scss" scoped>
#imprint {
  padding-top:50px;
  height:500px;
  color: #b6b6b6;
}
</style>

