<template>
  <div id="intro">
    <async-image name="gandalph" id="logo"></async-image>
  </div>
</template>

<style scoped>
#intro {
  background-image: url("../../../img/house-2616607_1920.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 58px);
  margin: 0;
  text-align: center;
}

#logo {
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 50%;
    margin-top: 15vh;
    max-height: 80vh;
    max-width: 80vmin;
    width: 90%;
}

</style>
