<template>
    <b-navbar toggleable="md" type="dark" variant="dark" class="sticky-top navBarStyle">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">Gandalph</b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">

          <b-navbar-nav>
            <b-nav-item href="#newsNav">Neuigkeiten</b-nav-item>
            <b-nav-item href="#shops">Läden</b-nav-item>
            <b-nav-item href="#aboutUs">Über uns</b-nav-item>
            <b-nav-item href="#impressum">Impressum</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item><router-link to="/forum" class="navButton">Forum</router-link></b-nav-item>
          </b-navbar-nav>

        </b-collapse>
    </b-navbar>
</template>

<script>

</script>

<style scoped>
  .navBarStyle {
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .navButton {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
  }

  #forumButton:hover {
    color: rgba(255, 255, 255, 0.8);
  }
</style>

