<template>
  <div  id="news">
    <h1>	
      Neuigkeiten	
    </h1>	
    <div class="newsNav">	
      <input type="button" value="Flensburg" class="locationNewsButton" v-bind:class="{active: isFlensburgVisible}" v-on:click="toggleFlensburg()">	
      <input type="button" value="Rendsburg" class="locationNewsButton" v-bind:class="{active: isRendsburgVisible}" v-on:click="toggleRendsburg()">	
      <input type="button" value="Kiel" class="locationNewsButton" v-bind:class="{active: isKielVisible}" v-on:click="toggleKiel()">	
      <hr>	
    </div>
    <div class="newsBody">
      <div class="news" v-for="news in newsArray">
        <div class="row">
          <div class="col-sm-7">
            <h4>{{news.title}}</h4>
          </div>
          <div class="col-sm-5">
            <h6>{{news.date}}</h6>
          </div>
        </div>
        <div class="row" v-if="news.image">
          <div class="col-sm-7">
            <p>{{news.text}}</p>
          </div>
          <div class="col-sm-5">
            <async-image v-bind:name="news.image" id="logo"></async-image>
          </div>
        </div>
        <div class="row" v-if="!news.image">
          <div class="col-sm-12">
            <p>{{news.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="newsBodyInsetShadow">

    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      newsArray: [],
      isFlensburgVisible: true,
      isRendsburgVisible: false,
      isKielVisible: false
    }
  },

  created() {
    this.toggleFlensburg();
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        let positions = {
          flensburg: {
            latitude: 54.787583,
            longitude: 9.432606
          },
          kiel: {
            latitude: 54.316824,
            longitude: 10.132345
          },
          rendsburg: {
            latitude: 54.304542,
            longitude: 9.663520
          }
        }

        let distanceToFlensburg = getDistanceFromLatLonInKm(position.coords, positions.flensburg);
        let distanceToKiel = getDistanceFromLatLonInKm(position.coords, positions.kiel);
        let distanceToRendsburg = getDistanceFromLatLonInKm(position.coords, positions.rendsburg);

        if (distanceToFlensburg < distanceToKiel && distanceToFlensburg < distanceToRendsburg) {
          this.toggleFlensburg();
        } else if (distanceToKiel < distanceToFlensburg && distanceToKiel < distanceToRendsburg) {
          this.toggleKiel();
        } else if (distanceToRendsburg < distanceToFlensburg && distanceToRendsburg < distanceToKiel) {
          this.toggleRendsburg();
        } else {
          this.toggleFlensburg();
        }

        function getDistanceFromLatLonInKm(coord1, coord2) {
          let lat1 = coord1.latitude;
          let lon1 = coord1.longitude;
          let lat2 = coord2.latitude;
          let lon2 = coord2.longitude;

          let R = 6371; // Radius of the earth in km
          let dLat = deg2rad(lat2 - lat1);  // deg2rad below
          let dLon = deg2rad(lon2 - lon1);
          let a =
            Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2)
          ;
          let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
          let d = R * c; // Distance in km
          return d;
        }

        function deg2rad(deg) {
          return deg * (Math.PI / 180)
        }
      });
    }
  },
  methods: {
    // toggles the news for flensburg
    toggleFlensburg: function() {
      this.reset();
      this.load('Flensburg');
      this.isFlensburgVisible = !this.isFlensburgVisible;
    },
    // toggles the news for rendsburg
    toggleRendsburg: function() {
      this.reset();
      this.load('Rendsburg');
      this.isRendsburgVisible = !this.isRendsburgVisible;
    },
    // toggles the news for kiel
    toggleKiel: function() {
      this.reset();
      this.load('Kiel');
      this.isKielVisible = !this.isKielVisible;
    },
    // resets the visibility
    reset: function() {
      this.isFlensburgVisible = false;
      this.isRendsburgVisible = false;
      this.isKielVisible = false;
    },
    load: function(location) {
      this.newsArray = [];
      // loads the news for a specific location
      axios.get(`${process.env.ROOT_API}/news/location?name=${location}`)
        .then(response => response.data)
        .then(response => {
          return response.map(news => {
            const date = new Date(news.date);
            const options = {
              day: '2-digit',
              month: '2-digit',
              year: 'numeric'
            };

            // formats the date
            news.date = date.toLocaleDateString("de-DE", options);
            return news;
          });
        })
        .then(response => response.forEach(element => { this.newsArray.push(element) }))
        .catch(error => console.log('Ain´t no errors here. ' + error));
    }
  }
};
</script>

<style scoped>

  #news {
    padding-top: 65px;
    margin-top: -65px;
    color: white;
  }

  .locationNewsButton {
    width: 100px;
    height: 40px;
    border-radius: 30px 30px 0 0;
    border: none;
    background-color: rgb(199, 199, 199);
    outline: 0;
    cursor: pointer;
  }

  .active {
    background-color: #586ea5;
  }

  .newsNav hr {
    margin-top: 0;
    border-width: 3px;
    background-color: #586ea5;
  }

  .newsBody {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 600px;
    padding-right: 10px;
    padding-bottom: 40px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #878787;
  }
  ::-webkit-scrollbar-thumb {
    background: #707070;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .newsBody .row {
    padding: 0;
  }

  .newsBody img {
    width: 100%;
    cursor: zoom-in;
  }

  .news {
    border: solid #ffffff 1px;
    background-color: #bababa;
    margin: 10px 0 0 20px;
    padding: 10px 10px 10px 20px;
  }

  .news h4 {
    display: inline-block;
    margin: 10px 0 10px -40px;
    background-color: #586ea5;
    padding: 2px 20px;
    box-shadow: 5px -5px black;
  }

  .news h6 {
    display: inline-block;
    float: right;
  }

  #newsBodyInsetShadow {
    position: relative;
    top: -50px;
    height: 50px;
    width: 100%;
    box-shadow: 0px -50px 30px -30px white inset;
    border-radius:  0 0 5px 5px;
  }
</style>
