<template>
  <div id="rednsburg">
    <div class="row storeIntro">
      <div class="col-sm-7">
        <p>
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie
          in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt
          durch ihren Ort und versorgt sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in dem einem gebratene
          Satzteile in den Mund fliegen. Nicht einmal von der allmächtigen Interpunktion werden die Blindtexte beherrscht
          – ein geradezu unorthographisches Leben. Eines Tages aber beschloss eine kleine Zeile Blindtext, ihr Name war Lorem

        </p>
      </div>
      <div class="col-sm-5">
        <b-carousel id="carousel" style="" controls indicators background="#ababab" :interval="4000"
                    img-width="480" img-height="240">
          <b-carousel-slide img-src="img/re_eingang.png"></b-carousel-slide>
          <b-carousel-slide img-src="img/re_kasse.png"></b-carousel-slide>
          <b-carousel-slide img-src="img/re_buch.png"></b-carousel-slide>
          <b-carousel-slide img-src="img/re_zinn.png"></b-carousel-slide>
        </b-carousel>
      </div>
    </div>
    <div class="row storeInfo">
      <div class="col-sm-5">
        <h3>Öffnungszeiten</h3>
        <p>Montag, Mittwoch, Freitag - 12:00 Uhr bis 18:00 Uhr
          <br> Samstag - 10:30 Uhr bis 14:00 Uhr
          <br> Dienstag, Donnerstag - leider geschlossen.</p>
        <h3>Telefon</h3>
        <p>04331 / 419330</p>
        <h3>Adresse</h3>
        <p>Altstadtpassage</p>
      </div>
      <div class="col-sm-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2327.9670127188188!2d9.661328651733001!3d54.30453398009382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b3a42ca0310ca7%3A0x11339863fc51855a!2sGandalph!5e0!3m2!1sde!2sde!4v1525252514985"
                width="100%" height="250px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .storeIntro {
    padding: 20px 0 0 0;
  }

  .storeInfo {
    margin: 40px -15px 20px -15px;
  }

  #carousel {
    text-shadow: 1px 1px 2px #333;
    overflow: hidden;
  }
</style>
