<template>

  <div id="shops">
    <h1>Läden</h1>
    <input type="button" value="Flensburg" class="locationNewsButton" v-bind:class="{active: isFlensburgVisible}" v-on:click="toggleFlensburg()">
    <input type="button" value="Rendsburg" class="locationNewsButton" v-bind:class="{active: isRendsburgVisible}" v-on:click="toggleRendsburg()">
    <input type="button" value="Kiel" class="locationNewsButton" v-bind:class="{active: isKielVisible}" v-on:click="toggleKiel()">
    <hr>

    <div>
      <home-shop-flensburg v-if="isFlensburgVisible"></home-shop-flensburg>
    </div>
    <div>
      <home-shop-rendsburg v-if="isRendsburgVisible"></home-shop-rendsburg>
    </div>
    <div>
      <home-shop-kiel v-if="isKielVisible"></home-shop-kiel>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      isFlensburgVisible: true,
      isRendsburgVisible: false,
      isKielVisible: false,
    }
  },
  methods: {
    // toggles the visibility of the flensburg shop
    toggleFlensburg: function() {
      this.reset();
      this.isFlensburgVisible = !this.isFlensburgVisible;
    },
    // toggles the visibility of the rendsburg shop
    toggleRendsburg: function() {
      this.reset();
      this.isRendsburgVisible = !this.isRendsburgVisible;
    },
    // toggles the visibility of the kiel shop
    toggleKiel: function() {
      this.reset();
      this.isKielVisible = !this.isKielVisible;
    },
    // sets all shops false
    reset: function() {
      this.isFlensburgVisible = false;
      this.isRendsburgVisible = false;
      this.isKielVisible = false;
    },
  },
  created() {
    this.toggleFlensburg();
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        let positions = {
          flensburg: {
            latitude: 54.787583,
            longitude: 9.432606
          },
          kiel: {
            latitude: 54.316824,
            longitude: 10.132345
          },
          rendsburg: {
            latitude: 54.304542,
            longitude: 9.663520
          }
        }

        let distanceToFlensburg = getDistanceFromLatLonInKm(position.coords, positions.flensburg);
        let distanceToKiel = getDistanceFromLatLonInKm(position.coords, positions.kiel);
        let distanceToRendsburg = getDistanceFromLatLonInKm(position.coords, positions.rendsburg);

        if (distanceToFlensburg < distanceToKiel && distanceToFlensburg < distanceToRendsburg) {
          this.toggleFlensburg();
        } else if (distanceToKiel < distanceToFlensburg && distanceToKiel < distanceToRendsburg) {
          this.toggleKiel();
        } else if (distanceToRendsburg < distanceToFlensburg && distanceToRendsburg < distanceToKiel) {
          this.toggleRendsburg();
        } else {
          this.toggleFlensburg();
        }

        function getDistanceFromLatLonInKm(coord1, coord2) {
          let lat1 = coord1.latitude;
          let lon1 = coord1.longitude;
          let lat2 = coord2.latitude;
          let lon2 = coord2.longitude;

          let R = 6371; // Radius of the earth in km
          let dLat = deg2rad(lat2 - lat1);  // deg2rad below
          let dLon = deg2rad(lon2 - lon1);
          let a =
            Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2)
          ;
          let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
          let d = R * c; // Distance in km
          return d;
        }

        function deg2rad(deg) {
          return deg * (Math.PI / 180)
        }
      });
    }
  }
}
</script>

<style scoped>
  #shops {
    margin: -15px 0 0 0;
    padding-top: 65px;
    color: white;
  }

  .locationNewsButton {
    width: 100px;
    height: 40px;
    border-radius: 30px 30px 0 0;
    border: none;
    background-color: rgb(199, 199, 199);
    outline: 0;
    cursor: pointer;
  }

  .active {
    background-color: #586ea5;
  }

  hr {
    background-color: #586ea5;
    border-width: 3px;
    margin: 0;
  }

  #flensburg {
    display: block;
  }

  #kiel {
    display: block;
  }

  #rendsburg {
    display: block;
  }
</style>
