<template>
    <div class="content">
      <home-news></home-news>
      <home-shops></home-shops>
      <home-about-us></home-about-us>
      <home-imprint></home-imprint>
    </div>
</template>

<style scoped>
#newsNav {
  padding-top: 105px;
  margin-top: -105px;
  color: white;
}
.content {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(53, 53, 53);
    box-shadow: 0px 0px 120px #000000;
    padding: 50px;
    color: white;
}

.locationNewsButton {
  width: 100px;
  height: 40px;
  border-radius: 30px 30px 0 0;
  border: none;
  background-color: rgb(199, 199, 199);
  outline: 0;
  cursor: pointer;
}

.active {
  background-color: #586ea5;
}

#newsNav hr {
  margin-top: 0;
  border-width: 3px;
  background-color: #586ea5;
}
</style>
