<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <h2>Content-Manager</h2>
          <router-link class="addBtn" title="Add" to="/admin/channels/create">Füge Channel hinzu</router-link><br>
          <div class="content-block">
            <div class="content-header">
              <h3>Channels</h3>
            </div>
            <div class="content-inner">
              <table>
                <th class="medium">Id</th>
                <th class="medium">Name</th>
                <th class="small"></th>
                <tr v-for="(row, index) in channelsArray">
                  <td class="medium">{{ row.id }}</td>
                  <td class="medium">{{ row.name }}</td>
                  <td class="small">
                    <router-link :to="{ name: 'create-aChannels', params: { edit: row }}" class="action" title="Edit"><img class="actionImg" src="../../../img/edit.png" /></router-link>
                    <button class="action" title="Delete"><img class="actionImg" src="../../../img/delete.png" /></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      channelsArray: []
    }
  },
  // called after the component is created
  created() {
    // loads all channels, and puts them into the channelsArray
    // so that it is shown in the frontend
    axios.get(`${process.env.ROOT_API}/channels`)
      .then(response => response.data)
      .then(response => {
        return response;
      })
      .then(response => this.channelsArray = response)
      .catch(error => console.log('Ain´t no errors here. ' + error));
  },
}
</script>

<style scoped>
</style>
