<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="content-block">
            <div class="content-header">
              <h3>Hallo Admin!</h3>
            </div>
            <div class="content-inner">
              <p>Willkommen im Backend von Gandalph. Hier hast du die möglichkeit, neue Beiträge zu erstellen oder bestehende zu verwalten.<br>
              Fühle dich frei beim erkunden!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<style scoped>
.info-block{
  padding: 2em;
  width: 70%;
  height: 30%;
  -webkit-box-shadow: 5px 4px 28px -5px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 4px 28px -5px rgba(0,0,0,0.6);
  box-shadow: 5px 4px 28px -5px rgba(0,0,0,0.6);
}
</style>
