<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <router-link class="navbar-brand" to="/admin">Gandalph Backend</router-link>
    <img src="img/menu-white.png" id="menu-toggle" />
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
          <br><router-link class="nav-link" to="/admin">Dashboard</router-link>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="News">
          <router-link class="nav-link" to="/admin/news">News</router-link>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Channels">
          <router-link class="nav-link" to="/admin/channels">Channels</router-link>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Posts">
          <router-link class="nav-link" to="/admin/posts">Posts</router-link>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Upload">
          <router-link class="nav-link" to="/admin/users">Users</router-link>
        </li>
        <hr><br>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Upload">
          <router-link class="nav-link" to="/admin/upload">Upload</router-link>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <router-link class="nav-link" data-target="#exampleModal" to="/">Zum Frontend</router-link>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
  import authService from "../../services/AuthService";
  import axios from 'axios';
  export default {
    data() {
        return {};
    },
    created() {
      // check if logged in
      // if not the auth interceptor will reroute us to the login screen
      axios.get(`${process.env.ROOT_API}/user/me`);
    }
  }

  window.addEventListener("load", initNav, false);
  function initNav(){
    toggleClass(document.body,"sidenav-toggled");
    document.getElementById("menu-toggle").addEventListener("click", function() {
      toggleClass(document.body, "sidenav-toggled");
      toggle("sidenav-toggled");
    });
  }
  function toggleClass(element, toggleClass){
     let currentClass = element.className;
     let newClass;
     if(currentClass.split(" ").indexOf(toggleClass) > -1){ //has class
        newClass = currentClass.replace(new RegExp('\\b'+toggleClass+'\\b','g'),"")
     }else{
        newClass = currentClass + " " + toggleClass;
     }
     element.className = newClass.trim();
   }
   function toggle(toggleClass){
      let currentClass = document.body.className;
      let nav = document.getElementById("navbarResponsive");
      if(currentClass.split(" ").indexOf(toggleClass) > -1){
        nav.style.display = "none";
      }else{
        nav.style.display = "block";
      }
    }
</script>

<style scoped>
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #444;
    margin: 1em 1em;
    padding: 0;
  }
  #menu-toggle{
    height: 40px;
    width: 40px;
    display: none;
    float: right;
    cursor: pointer;
  }
  .fixed-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
  }
  .bg-dark {
      background-color: #232930!important;
  }
  .navbar {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: .5rem 1rem;
  }
  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
      display: block;
  }
  @media (min-width: 992px){
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: #343a40;
    }
    #mainNav.fixed-top .navbar-sidenav {
        min-height: 100%;  /* calc(100vh - 57px) */
    }
    #mainNav .navbar-collapse .navbar-sidenav {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 56px;
    }
    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
        width: 180px;
        padding: 0;
    }
    .navbar{
      -webkit-box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.6);
      box-shadow: 0px 8px 25px -10px rgba(0,0,0,0.6);
    }
  }
  @media (max-width: 992px){
    #menu-toggle {
        display: block;
    }
  }
  .navbar-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
</style>
