<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <h2>Neuer Eintrag</h2>
          <router-link class="addBtn" title="Add" to="/admin/users">Abbrechen und Zurück</router-link><br>
          <div class="content-block">
            <div class="content-header">
              <h3>Users</h3>
            </div>
            <div class="content-inner">
              <span class="info-msg">{{ log }}</span>
              <table>
                <th class="small">Username</th>
                <th class="small">Email</th>
                <th class="small">Password</th>
                <th class="small">Role</th>
                <tr>
                  <td class="small"><input type="text" name="username" v-model="users.username" /></td>
                  <td class="small"><input type="email" name="email" v-model="users.email" /></td>
                  <td class="small"><input type="password" name="password" v-model="users.password" /></td>
                  <td class="small">
                      <select name="role" @change="onChange">
                        <option v-for="(role, index) in uRole" :key="index" :selected="index === 0 ? 'selected' : ''">{{ role }}</option>
                      </select>
                  </td>
                </tr>
              </table>
              <br><b-button class="addEntryBtn" name="submit" v-on:click="sub">{{button}}</b-button><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      users: {
        username: '',
        email: '',
        password: '',
        role: ''
      },
      log: '',
      uRole: global.config.userRoles,
      button: 'Erstellen'
    }
  },
  created() { // From params
    if(this.edit){
      this.users.username = this.edit.username;
      this.users.email = this.edit.email;
      this.users.password = this.edit.password;
      this.users.role = this.edit.role;
      // Button
      this.button = 'Ändern';
    }
  },
  methods: {
    sub: function(event){
      if(this.users.username === "" || this.users.email === "" || this.users.role === "" || this.users.email === "") {
        this.log = "Please fill all fields!";
        event.preventDefault();
      }else{
        // posts the data given by the user to the server
        axios.post(`${process.env.ROOT_API}/users`, this.users)
          .then(_ => this.$router.push({ path: "/admin/users" }));
      }
    },
    onChange (e) {
      this.users.role = e.target.value;
    }
  }
}
</script>
