<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <h2>Neuer Eintrag</h2>
          <router-link class="addBtn" title="Add" to="/admin/posts">Abbrechen und Zurück</router-link><br>
          <div class="content-block">
            <div class="content-header">
              <h3>Posts</h3>
            </div>
            <div class="content-inner">
              <span class="info-msg">{{ log }}</span>
              <table>
                <th class="small">User</th>
                <th class="small">Content</th>
                <th class="small">ChannelId</th>
                <tr>
                  <td class="small"><input type="text" name="user" v-model="posts.user" /></td>
                  <td class="small"><textarea name="content" v-model="posts.content"></textarea></td>
                  <td class="small"><input type="text" name="channelId" v-model="posts.channelId" /></td>
                </tr>
              </table>
              <br><b-button class="addEntryBtn" name="submit" v-on:click="sub">{{button}}</b-button><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
export default {
  props: ['edit'], // Define params
  data() {
    return {
      posts: {
        user: '',
        content: '',
        channelId: ''
      },
      log: '',
      button: 'Erstellen'
    }
  },
  created() { // From params
    if(this.edit){
      this.posts.user = this.edit.user;
      this.posts.content = this.edit.content;
      this.posts.channelId = this.edit.channelId;
      // Button
      this.button = 'Ändern';
    }
  },
  methods: {
    sub: function(event){
      if(this.posts.user === "" || this.posts.content === "" || this.posts.channelId === ""){
        this.log = "Please fill all fields!";
        event.preventDefault();
      }else{
        // posts the given user data to the server
        axios.post(`${process.env.ROOT_API}/posts`, this.posts)
          .then(_ => this.$router.push({ path: "/admin/posts" }));
      }
    }
  }
}
</script>

<style scoped>
</style>
