<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <h2>Neuer Eintrag</h2>
          <router-link class="addBtn" title="Add" to="/admin/news">Abbrechen und Zurück</router-link><br>
          <div class="content-block">
            <div class="content-header">
              <h3>News</h3>
            </div>
            <div class="content-inner">
              <span class="info-msg">{{ log }}</span>
              <table>
                <th class="small">Title</th>
                <th class="small">Text</th>
                <th class="small">Date</th>
                <th class="small">Location</th>
                <th class="small">Image</th>
                <tr>
                  <td class="small"><input type="text" name="title" v-model="news.title" /></td>
                  <td class="small"><textarea name="text" v-model="news.text"></textarea></td>
                  <td class="small"><input type="date" name="date" v-model="news.date" /></td>
                  <td class="small">
                      <select name="location" @change="onChange">
                        <option v-for="(location, index) in loc" :key="index" :selected="index === 0 ? 'selected' : ''">{{ location }}</option>
                      </select>
                  </td>
                  <td class="small"><input type="text" name="image" v-model="news.image"/></td>
                </tr>
              </table>
              <br><b-button class="addEntryBtn" name="submit" v-on:click="sub">{{button}}</b-button><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
export default {
  props: ['edit'], // Define params
  data() {
    return {
      news: {
        title: '',
        text: '',
        date: '',
        location: '',
        image: ''
      },
      log: '',
      loc: global.config.location,
      button: 'Erstellen'
    }
  },
  created() { // From params
    if(this.edit){
      this.news.title = this.edit.title;
      this.news.text = this.edit.text;
      this.news.location = this.edit.location;
      this.news.date = this.edit.date;
      this.news.image = this.edit.image;
      // Button
      this.button = 'Ändern';
    }
  },
  methods: {
    sub: function(event) {
      if(this.news.title === "" || this.news.text === "" || this.news.date === ""){
        this.log = "Please fill all fields!";
        event.preventDefault();
      }else{
        // posts the given data to the server
        axios.post(`${process.env.ROOT_API}/news`, this.news)
          .then(_ => this.$router.push({ path: "/admin/news" }));
      }
    },
    onChange (e) {
      this.news.location = e.target.value;
    }
  }
}
</script>
