<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <h2>Neuer Eintrag</h2>
          <router-link class="addBtn" title="Add" to="/admin/channels">Abbrechen und Zurück</router-link><br>
          <div class="content-block">
            <div class="content-header">
              <h3>Channels</h3>
            </div>
            <div class="content-inner">
              <span class="info-msg">{{ log }}</span>
              <table>
                <th class="medium">Name</th>
                <tr>
                  <td class="medium"><input type="text" name="name" v-model="channels.name"/></td>
                </tr>
              </table>
              <br><b-button class="addEntryBtn" name="submit" v-on:click="sub">{{button}}</b-button><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  import axios from 'axios';
  export default {
    data() {
      return {
        channels: {
          name: ''
        },
        log: '',
        button: 'Erstellen'
      }
    },
    created() { // From params
      if(this.edit){
        this.posts.user = this.edit.user;
        this.posts.date = this.edit.date;
        this.posts.content = this.edit.content;
        this.posts.channelId = this.edit.channelId;
        // Button
        this.button = 'Ändern';
      }
    },
    methods: {
      sub: function(event){
        if(this.channels.name === ""){
          this.log = "Please fill all fields!";
          event.preventDefault();
        } else{
          // creates a new channel
          axios.post(`${process.env.ROOT_API}/channels`, this.channels)
            .then(_ => this.$router.push({ path: "/admin/channels" }));
        }
      }
    }
  }
</script>

<style scoped>
</style>
