<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <h2>Content-Manager</h2>
          <router-link class="addBtn" title="Add" to="/admin/news/create">Füge News hinzu</router-link><br>
          <div class="content-block">
            <div class="content-header">
              <h3>News</h3>
            </div>
            <div class="content-inner">
              <table>
                <th class="small">Id</th>
                <th class="small">Title</th>
                <th class="small">Text</th>
                <th class="small">Date</th>
                <th class="small">Location</th>
                <th class="small">Image</th>
                <th class="small"></th>
                <tr v-for="(row, index) in news">
                  <td class="small">{{ row.id }}</td>
                  <td class="small">{{ row.title }}</td>
                  <td class="small">{{ row.text }}</td>
                  <td class="small">{{ row.date }}</td>
                  <td class="small">{{ row.location }}</td>
                  <td class="small">{{ row.image }}</td>
                  <td class="small">
                    <router-link :to="{ name: 'create-aNews', params: { edit: row }}" class="action" title="Edit"><img class="actionImg" src="../../../img/edit.png" /></router-link>
                    <button class="action" title="Delete"><img class="actionImg" src="../../../img/delete.png" /></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      news: []
    }
  },
  created() {
    // loads all news and stores them in the news array
    axios.get(`${process.env.ROOT_API}/news`)
      .then(response => response.data)
      .then(response => {
        return response.map(news => {
          const date = new Date(news.date);
          // object for date formatting
          const options = {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric'
          };
          // formats the date
          news.date = date.toLocaleDateString("de-DE", options);
          return news;
        });
      })
      .then(response => this.news = response)
      .catch(error => console.log('Ain´t no errors here. ' + error));
  },
}
</script>