<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <h2>Content-Manager</h2>
          <router-link class="addBtn" title="Add" to="/admin/posts/create">Füge Post hinzu</router-link><br>
          <div class="content-block">
            <div class="content-header">
              <h3>Posts</h3>
            </div>
            <div class="content-inner">
              <table>
                <th class="small">Id</th>
                <th class="small">User</th>
                <th class="small">Date</th>
                <th class="small">Content</th>
                <th class="small">ChannelId</th>
                <th class="small"></th>
                <tr v-for="(row, index) in posts">
                  <td class="small">{{ row.id }}</td>
                  <td class="small">{{ row.user }}</td>
                  <td class="small">{{ row.date }}</td>
                  <td class="small">{{ row.content }}</td>
                  <td class="small">{{ row.channelId }}</td>
                  <td class="small">
                    <router-link :to="{ name: 'create-aPosts', params: { edit: row }}" class="action" title="Edit"><img class="actionImg" src="../../../img/edit.png" /></router-link>
                    <button class="action" title="Delete"><img class="actionImg" src="../../../img/delete.png" /></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      posts: []
    }
  },
  created() {
    // loads all posts and stores them in the posts aray
    axios.get(`${process.env.ROOT_API}/posts`)
      .then(response => response.data)
      .then(response => {
        return response;
      })
      .then(response => this.posts = response)
      .catch(error => console.log('Ain´t no errors here. ' + error));
  },
}
</script>