<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="content-block">
            <div class="content-header">
              <h3>File Upload</h3>
            </div>
            <div class="content-inner">
            <!--UPLOAD-->
            <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
            <div class="dropbox">
              <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                accept="image/*" class="input-file">
                <p v-if="isInitial">
                  Drag your file(s) here to begin<br> or click to browse
                </p>
                <p v-if="isSaving">
                  Uploading {{ fileCount }} files...
                </p>
            </div>
            </form>
            <!--SUCCESS-->
            <div v-if="isSuccess">
            <h2>Uploaded {{ uploadedFiles.length }} file(s) successfully.</h2>
            <p>
              <a href="javascript:void(0)" @click="reset()">Upload again</a>
            </p>
            <ul class="list-unstyled">
              <li v-for="item in uploadedFiles">
                <img :src="item.url" class="img-responsive img-thumbnail" :alt="item.originalName">
              </li>
            </ul>
            </div>
            <!--FAILED-->
            <div v-if="isFailed">
            <h2>Uploaded failed.</h2>
            <p>
              <a href="javascript:void(0)" @click="reset()">Try again</a>
            </p>
            <pre>{{ uploadError }}</pre>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
 // init upload
 import { upload } from '../../services/UploadFile';
 // upload
 const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;
 export default {
   name: 'app',
   data() {
     return {
       uploadedFiles: [],
       uploadError: null,
       currentStatus: null,
       uploadFieldName: 'upload'
     }
   },
   computed: {
     isInitial() {
       return this.currentStatus === STATUS_INITIAL;
     },
     isSaving() {
       return this.currentStatus === STATUS_SAVING;
     },
     isSuccess() {
       return this.currentStatus === STATUS_SUCCESS;
     },
     isFailed() {
       return this.currentStatus === STATUS_FAILED;
     }
   },
   methods: {
     reset() {
       // reset form to initial state
       this.currentStatus = STATUS_INITIAL;
       this.uploadedFiles = [];
       this.uploadError = null;
     },
     save(formData) {
       // upload data to the server
       this.currentStatus = STATUS_SAVING;
       upload(formData)
         .then(x => {
           this.uploadedFiles = [].concat(x);
           this.currentStatus = STATUS_SUCCESS;
         })
         .catch(err => {
           this.uploadError = err.response;
           this.currentStatus = STATUS_FAILED;
         });
     },
     filesChange(fieldName, fileList) {
       // handle file changes
       const formData = new FormData();
       if (!fileList.length) return;
       // append the files to FormData
       Array
         .from(Array(fileList.length).keys())
         .map(x => {
           formData.append(fieldName, fileList[x], fileList[x].name);
         });
       // save it
       this.save(formData);
     }
   },
   mounted() {
     this.reset();
   },
 }
</script>

<style scoped>
.dropbox {
    outline: 2px dashed grey;
    outline-offset: -10px;
    background: rgba(0,0,0,0.15);
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px;
    position: relative;
    cursor: pointer;
  }
  .input-file {
    opacity: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }
  .dropbox:hover {
    background: rgba(0,0,0,0.10);
  }
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>
