<template>
<div>
  <div id="app" data-spy="scroll" data-target=".nav">
    <div id="wrapper">
      <admin-nav></admin-nav>
      <div class="content-wrapper">
        <div class="container-fluid">
          <h2>Content-Manager</h2>
          <router-link class="addBtn" title="Add" to="/admin/users/create">Füge User hinzu</router-link><br>
          <div class="content-block">
            <div class="content-header">
              <h3>Users</h3>
            </div>
            <div class="content-inner">
              <table>
                <th class="small">Id</th>
                <th class="small">Username</th>
                <th class="small">Email</th>
                <th class="small">Provider</th>
                <th class="small">Password</th>
                <th class="small"></th>
                <tr v-for="(row, index) in users">
                  <td class="small">{{ row.id }}</td>
                  <td class="small">{{ row.username }}</td>
                  <td class="small">{{ row.email }}</td>
                  <td class="small">{{ row.provider }}</td>
                  <td class="small">{{ row.password }}</td>
                  <td class="small">
                    <router-link :to="{ name: 'create-aUsers', params: { edit: row }}" class="action" title="Edit"><img class="actionImg" src="../../../img/edit.png" /></router-link>
                    <button class="action" title="Delete"><img class="actionImg" src="../../../img/delete.png" /></button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      users: []
    }
  },
  created() {
    // loads all users and puts them into the users array
    axios.get(`${process.env.ROOT_API}/user`)
      .then(response => response.data)
      .then(response => {
        return response;
      })
      .then(response => this.users = response)
      .catch(error => console.log('Ain´t no errors here. ' + error));
  }
}
</script>