<template>
  <div>
    <div  id="invitaion">
      <p>
        Du hast eine Einladung zu dem Channel
      </p>
      <p>
        <span id="channelName">{{channelName}}</span>
      </p>
      <p>
        erhalten.
      </p>
      <b-button class="btn-success" id="join" v-on:click="subscribe()">Beitreten</b-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      channelName: ''
    }
  },
  created() {
    // gets the information about the channel
    axios.get(`${process.env.ROOT_API}/channels/${this.$route.params.id}`)
      .then(response => response.data)
      .then(response => this.channelName = response.name)
      .catch(error => console.log('Ain´t no errors here. ' + error));
  },
  methods: {
    // subscribes to the channel
    subscribe: function() {
      axios.post(`${process.env.ROOT_API}/subscriptions`, {channelId: this.$route.params.id })
        .then(_ => this.$router.push({ path: "/forum" }))
        .catch(error => console.log('Ain´t no errors here. ' + error));
    }
  }
}
</script>

<style scoped>

  #invitaion {
    text-align: center;
    background-color: #bababa;
    border-radius: 10px;
    padding: 20px;
  }

  #join {
    width: 200px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: x-large;
  }

  #reject {
    width: 200px;
    font-size: small;
  }

  #channelName {
    font-size: x-large;
    background-color: #586ea5;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

</style>
