<template>
  <b-container id="content" fluid>
    <b-row>
      <div class="box gray">
        <b-row>
          <div class="col-sm-6">
            <h2 class="headliner">Alle Channels</h2>
          </div>
          <div class="col-sm-6 positionRight">
            <b-button v-on:click="toggleAddChannel()">
              + neuen Channel erstellen
            </b-button>
          </div>
        </b-row>
        <b-row v-if="addChannelMode">
          <div class="col-sm-12 positionRight">
            <b-form-input v-model="channelName" placeholder="Channel Name..."></b-form-input>
            <b-button class="bg-info" v-on:click="addChannel()">
              Channel erstellen
            </b-button>
          </div>
        </b-row>
        <b-row>
          <div class="col-sm-12">
            <form>
              <input v-model="search" type="text" title="channelSearch" id="channelSearch" class="form-control" name="channelSearch" placeholder="Channel suchen...">
            </form>
          </div>
        </b-row>
        <b-row class="boxContent light-gray" v-for="channel in filtered">
          <div class="col-sm-10 channelName">
            <router-link :to="{ name: 'channel', params: {id: channel.id}}" replace>{{channel.name}}</router-link>
          </div>
          <b-button class="col-sm-2" v-on:click="subscribe(channel.id)">Abonnieren</b-button>
        </b-row>
      </div>
    </b-row>
  </b-container>
</template>

<script>
import axios from 'axios';
import WebsocketService from '../../services/WebsocketService.js';
import authService from '../../services/AuthService.js'

export default {
  data() {
    return {
      search: '',
      channels: [],
      addChannelMode: false,
      channelName: ''
    }
  },

  created() {
    authService.getCurrentUser()
    .then(user => this.user = user)
    .then(_ => {
      // loads all channels the user subscribed to
      axios.get(`${process.env.ROOT_API}/subscriptions/${this.user._id}`)
      .then(response => response.data)
      .then(subscriptions => {
        let combinedChannelIds = [];
        subscriptions.channelIds.forEach(element => {
          combinedChannelIds.push(element[0])
        });

        // loads all channels and filters the channels that the user subscribed ti
        axios.get(`${process.env.ROOT_API}/channels`)
          .then(response => response.data)
          .then(response => {
            if(combinedChannelIds.length > 1) {
              this.channels = response.filter(element => combinedChannelIds.indexOf(element.id) === -1);
            } else {
              this.channels = response;
            }
            WebsocketService.handleType('channels', this, 'channels')
          })
          .catch(error => console.log('Ain´t no errors here. ' + error)); 
      })
      .catch(_ => {
        // new users don´t have any channels and strapi answers with 404 so we just load the channels
        axios.get(`${process.env.ROOT_API}/channels`)
          .then(response => response.data)
          .then(response => {
            this.channels = response;
            WebsocketService.handleType('channels', this, 'channels')
          })
          .catch(error => console.log('Ain´t no errors here. ' + error)); 
      })
    });
  },

  computed: {
      filtered() {
        // fitlering for the searchbox
        return this.channels.filter(channel => {
          if(channel.name) {
            return channel.name.toLowerCase().includes(this.search.toLowerCase());
          }
        });
      }
  },

  methods: {
    // creates a new channel
    addChannel: function() {
      if(this.channelName && this.channelName != '') {
        axios.post(`${process.env.ROOT_API}/channels`, { name: this.channelName })
          .then(response => response.data)
          .then(_ => this.addChannelMode = false)
          .then(_ => this.channelName = '')
          .catch(error => {
            console.log('Ain´t no errors here. ' + error)
            this.addChannelMode = false
            this.channelName = ''
          });
      }
    },
    // toggles the visibility of creating a new channel
    toggleAddChannel: function() {
      this.addChannelMode = !this.addChannelMode;
    },
    // subscribes to a new channel
    subscribe: function(id) {
      axios.post(`${process.env.ROOT_API}/subscriptions`, {channelId: id })
        .then(response => response.data)
        .then(response => this.channels = this.channels.filter(element => element.id !== id))
        .catch(error => console.log('Ain´t no errors here. ' + error));
    }
  }
}
</script>

<style lang="scss" scoped>

.gray {
    background-color: #bababa;
}

.light-gray {
    background-color: #d0d0d0;
}

.box {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.headliner {
  display: inline-block;
  background-color: #586ea5;
  padding: 10px 20px;
  margin-left: -40px;
  box-shadow: black 5px -5px;
}


.boxContent {
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

#channelSearch {
  margin-top: 20px;
}

.channelName * {
  color: black !important;
}

</style>
