<template>
  <div class="boxContent light-gray row">
    <div class="box white">
      <div class="boxContent textBlack positionRight">
        <textarea v-model="content" rows="5" class="form-control"></textarea>
        <b-button @click="post" class="bg-info">Post</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../../services/AuthService';

export default {
  data() {
    return {
      content: ''
    }
  },
  methods: {
    post: function() {
      const request = {
        user: AuthService.getCurrentUser(),
        content: this.content,
        channelId: this.$route.params.id
      };

      // creates a new post in the current channel
      axios.post(`${process.env.ROOT_API}/posts`, request)
        .then(response => response.data)
        .then(_ => this.content = '')
        .then(_ => this.$router.push({name: 'channel', params: {id: this.$route.params.id}}))
        .catch(error => console.log('Ain´t no errors here. ' + error));
    }
  }
};
</script>

<style lang="scss" scoped>

.light-gray {
  background-color: #d0d0d0;
}

.white {
  background-color: #ffffff;
}

.textBlack {
  color: black;
}

.box {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.boxContent {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.positionRight {
  text-align: right;
}

textarea {
  resize: vertical;
  margin-bottom: 10px;
}
</style>
