<template>
  <b-navbar toggleable="md" type="dark" variant="dark" class="sticky-top navBarStyle">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand><router-link to="/forum" class="navBrand">Gandalph - Forum</router-link></b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

      <b-navbar-nav>
        <b-nav-item><router-link to="/forum" class="navButton">Meine Channels</router-link></b-nav-item>
        <b-nav-item><router-link to="/forum/channels" class="navButton">Alle Channles</router-link></b-nav-item>
        <b-nav-item><router-link to="/chats" class="navButton">Chats</router-link> <message-count></message-count></b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto" v-if="user">
        <!--<b-nav-item><router-link to="/forum/user" class="navButton"><img :src="loadImage('avatar')" id="userAvatarNav">{{user ? user.username : ''}}</router-link></b-nav-item>-->
        <b-nav-item>
          <router-link to="/forum/user" class="navButton">
          {{user ? user.username : ''}}
          <async-image name="avatar" id="userAvatarNav"></async-image></router-link></b-nav-item>
        <b-nav-item href="" v-on:click="logout()">Logout</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>

import authService from '../../services/AuthService.js';
import axios from 'axios';

export default {
  data() {
    return {
      user: null,
      logout: function() {
        authService.logout();
        this.$router.push({ name: 'home' });
      }
    }
  },
  created() {
    authService.getCurrentUser().then(user => this.user = user);
  }
}

</script>

<style scoped>
  .navBarStyle {
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  #userAvatarNav {
    height: 35px;
    margin: -10px 5px;
  }

  .navButton {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
  }

  .navButton:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .navBrand {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }

  .navBrand:hover {
    color: rgba(255, 255, 255, 0.9);
  }
</style>
