<template>
  <div>
    <b-row>
      <div class="col-sm-12">
        <div class="box gray">
          <b-row>
            <div class="col-sm-7">
              <h2>Channel Name</h2>
            </div>
            <div class="col-sm-5">
              <b-form-input placeholder="Share link" v-bind:value="shareLink" readonly></b-form-input>
            </div>
          </b-row>
          <div class="boxContent light-gray row post" v-for="post in posts">
            <div class="postHeader" style="width: 100%">
              <div class="postUser">
                <async-image name="avatar" class="postUserAvatar"></async-image>
                <div class="postUserName">{{post.user}}</div>
                <div class="postDate">
                  {{post.createdAt}}
                </div>
              </div>
            </div>
            <div class="box white" style="width: 100%">
              <div class="boxContent textBlack postContent">
                <p>
                  {{post.content}}
                </p>
              </div>
            </div>
          </div>

          <forum-message></forum-message>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      posts: [],
      channelName: '',
      // generates the share link
      shareLink: `${document.referrer}#/forum/channel/${this.$route.params.id}/invite`
    }
  },

  created() {
    // lodas the selected channel
    axios.get(`${process.env.ROOT_API}/channels/${this.$route.params.id}`)
      .then(response => response.data)
      .then(response => this.channelName = response.name)
      .catch(error => console.log('Ain´t no errors here. ' + error));

    // loads all posts in this channel
    axios.get(`${process.env.ROOT_API}/channels/${this.$route.params.id}/posts`)
      .then(response => response.data)
      .then(response => this.posts = response)
      .catch(error => console.log('Ain´t no errors here. ' + error));
  }
}
</script>

<style lang="scss" scoped>

.headliner {
  display: inline-block;
  background-color: #586ea5;
  padding: 10px 20px;
  margin-left: -40px;
  box-shadow: black 5px -5px;
}

.postUserAvatar {
  height: 30px;
  width: 30px;
}

.postUserName {
  height: 30px;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  padding: 5px 10px;
  background-color: black;
  color: white;
}

.gray {
    background-color: #bababa;
}

.light-gray {
    background-color: #d0d0d0;
}

.white {
    background-color: #ffffff;
}

.textBlack {
    color: black;
}

.box {
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.boxContent {
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

/* CHANNEL POST */

.postHeader {
    margin-bottom: 20px;
}
.postUserAvatar {
    height: 30px;
    width: 30px;
}

.postDate {
    float: right;
}

.post:first-of-type .postContent {
  font-size: x-large !important;
}

</style>
