<template>
  <b-container id="content" fluid>
    <b-row>
      <div class="col-sm-12">
        <h1 id="hello">Hallo, {{user ? user.username : ''}}!</h1>
      </div>
    </b-row>
    <b-row>
      <div class="box gray">
        <h2 class="headliner">Meine Channels</h2>
        <form>
          <input v-model="search" type="text" title="channelSearch" id="channelSearch" class="form-control" name="channelSearch" placeholder="Channel suchen...">
        </form>
        <b-row class="boxContent light-gray" v-for="channel in filtered">
          <div class="col-sm-8 channelName">
            <router-link :to="{ name: 'channel', params: {id: channel.id}}" replace>{{channel.name}}</router-link>
          </div>
          <div class="col-sm-4 positionRight">{{channel.contributions}} Beiträge
          <b-button class="btn-outline-danger" v-on:click="unsubscribe(channel.id)">Abbestellen</b-button>
          </div>
        </b-row>
      </div>
    </b-row>
  </b-container>
</template>

<script>
import axios from 'axios';
import WebsocketService from '../../services/WebsocketService.js';
import authService from '../../services/AuthService.js'

export default {
  data: function() {
    return {
      search: '',
      channels: [],
      user: null
    }
  },

  created: function() {
    // loads all channels the user subscribed to an shows them
    authService.getCurrentUser()
      .then(user => this.user = user)
      .then(_ => {
        // gets the subscriptions for the current user
        axios.get(`${process.env.ROOT_API}/subscriptions/${this.user._id ? this.user._id : this.user.id}`)
        .then(response => response.data)
        .then(response => {
          response.channelIds.forEach(element => {
            // loads all channels that exist
            axios.get(`${process.env.ROOT_API}/channels/${element}`)
              .then(response => response.data)
              .then(channel => {
                // gets the number of posts in a channel
                axios.get(`${process.env.ROOT_API}/channels/${channel.id}/count`)
                  .then(response => response.data)
                  .then(response => channel.contributions = response)
                  .then(() => this.channels.push(channel))
                  .catch(_ => {
                      channel.contributions = 0;
                      this.channels.push(channel);
                  });
                WebsocketService.handleType('channels', this, 'channels');
              })
              .catch(error => console.log('Ain´t no errors here. ' + error));
          });
        })
      });
  },
  computed: {
    // firlter for the searchbox
    filtered() {
      return this.channels.filter(channel => {
        if(channel.name) {
          return channel.name.toLowerCase().includes(this.search.toLowerCase())
        }
      });
    }
  },
  methods: {
    // unsubscribes from a channel
    unsubscribe: function(id) {
      axios.delete(`${process.env.ROOT_API}/subscriptions/${id}`)
        .then(_ => this.channels = this.channels.filter(element => element.id !== id))
        .catch(error => console.log('Ain´t no errors here. ' + error));
    }
  }
}
</script>

<style lang="scss" scoped>
#hello {
  color: #bababa;
}

.gray {
  background-color: #bababa;
}

.light-gray {
  background-color: #d0d0d0;
}

.box {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.headliner {
  display: inline-block;
  background-color: #586ea5;
  padding: 10px 20px;
  margin-left: -40px;
  box-shadow: black 5px -5px;
}


.boxContent {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.positionRight {
  text-align: right;
}

#channelSearch {
  margin-top: 20px;
}

.channelName * {
  color: black !important;
}

</style>
