<template>
  <div id="content" class="container-fluid">
    <b-row>
      <div class="col-sm-12">
        <div class="box gray">
          <b-row class="row">
            <div class="col-sm-8">
              <form id="userInformation">
                <table>
                  <tr>
                    <td><label for="userNameInput">Name:</label></td>
                    <td><input id="userNameInput" type="text" class="form-control userAccountInput" name="userName" value="Gandalph der Weiße"></td>
                  </tr>
                  <tr>
                    <td><label for="userEmailInput">Email:</label></td>
                    <td><input id="userEmailInput" type="text" class="form-control userAccountInput" name="userEmail" value=""></td>
                  </tr>
                  <tr>
                    <td><label for="userDescriptionInput">Beschreibung:</label></td>
                    <td>
                      <textarea id="userDescriptionInput" class="form-control userAccountInput" rows="15" name="userDescription">"Sein Haar war weiß wie Schnee in der Sonne, und schimmernd weiß war sein Gewand; die Augen unter den dichten Brauen funkelten und waren durchdringend wie die Strahlen der Sonne; Macht war in seiner Hand."—Der Herr der Ringe Drittes Buch, Fünftes Kapitel: Der Weiße Reiter</textarea>
                      <div class="userSubmitWrapper">
                        <input type="submit" form="userInformation" class="btn btn-success submitBtnRight" name="saveUserInformation" value="speichern">
                      </div>
                    </td>
                  </tr>
                </table>
              </form>
              <div v-if="passwordChangedSuccessfully" class="alert alert-success">Das Passwort wurde erfolgreich geupdated!</div>
              <div v-if="wrongPassword" class="alert alert-danger">Das angegebene Passwort ist falsch!</div>
              <form id="resetPassword">
                <table>
                  <tr>
                    <td><label for="oldPassword">Passwort:</label></td>
                    <td><input id="oldPassword" type="password" class="form-control userAccountInput" name="oldPassword" v-model="resetPw.oldPassword"></td>
                  </tr>
                  <tr>
                    <td><label for="newPassword">neues&nbsp;Passwort:</label></td>
                    <td>
                      <input id="newPassword" type="password" class="form-control userAccountInput" name="newPassword" v-model="resetPw.password">
                    </td>
                  </tr>
                  <tr>
                    <td><label for="newPassword">neues&nbsp;Passwort wiederholen:</label></td>
                    <td>
                      <input id="newPassword" type="password" class="form-control userAccountInput" name="newPassword" v-model="resetPw.passwordConfirmation">
                      <div class="userSubmitWrapper">
                        <button type="button" class="btn btn-success submitBtnRight" name="changePassword" v-on:click="updatePassword" :disabled="resetPw.passwordConfirmation != resetPw.password">Speichern</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
            <div class="col-sm-4">
              <async-image name="avatar" id="userImg"></async-image>
            </div>
          </b-row>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios';

  export default {
    name: "userSettings",
    data: function() {
      return {
        resetPw: {
          password: null,
          passwordConfirmation: null,
          oldPassword: null
        },
        passwordChangedSuccessfully: false,
        wrongPassword: false
      }
    },
    methods: {
      // updates the password of a user
      updatePassword: function() {
        if (this.resetPw && this.resetPw.password != null && this.resetPw.passwordConfirmation == this.resetPw.password) {
          axios.post(`${process.env.ROOT_API}/auth/reset-password`, this.resetPw)
            .then(response => response.data)
            .then(() => {
              this.wrongPassword = false;
              this.passwordChangedSuccessfully = true;
              // remove message after 5 seconds
              setTimeout(() => {
                this.passwordChangedSuccessfully = false;
              }, 5000);
              this.resetPw = {
                password: null,
                passwordConfirmation: null,
                oldPassword: null
              };
            })
            .catch((error) => {
              if (error.response.status === 403) {
                this.wrongPassword = true;
              }
            })
        }
      }
    }
  }
</script>

<style scoped>
  .gray {
    background-color: #bababa;
  }

  .box {
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }

  .box h3:first-child {
    margin: 0 0 20px 0;
  }

  .userAccountInput {
    max-width: 600px;
    resize: none;
  }

  tr td:first-child {
    padding-right: 10px;
  }

  tr td:last-child {
    width: 100%;}

  td {
    text-align: left;
    vertical-align: top;
    padding-bottom: 10px;
  }

  textarea {
    resize: vertical;
  }

  #userImg {
    width: 100%;
    margin-bottom: 20px;
  }

  .submitBtnRight {
    margin-top: 20px;
    float: right;
  }

  .userSubmitWrapper {
    width: 100%;
    max-width: 600px;
  }

  #userAvatarUpload {
    float: right;
    width: 100%;
    overflow: hidden;
  }

  #uploadAvatar {
    float: right;
  }
</style>
